.App {
  text-align: center;
}

.App-header {
  background-color: #1DB954;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #1DB954;
}

.Artist-Images {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.Artist-Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.MainSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(350px + 2vmin);
  height: calc(100px + 2vmin);
  margin: 3vmin;
  border-radius: 25px;
  background-color: #1DB954 0.2;
  font-size: calc(70px + 2vmin);
  text-align: center;
  border: none;
}

button {
  width: calc(175px + 2vmin);
  height: calc(50px + 2vmin);
  border-radius: 25px;
  background-color: #1DB954;
  color: white;
  font-size: calc(20px + 2vmin);
  margin: 2vmin;
  border:none;
}

.LoginAnchor {
  background-color: #1DB954;
  color: white;
  border:none;
  text-decoration: none;
}

.LoginButton {
  width: calc(300px + 2vmin);
  height: calc(75px + 2vmin);
}